/* 폰트  */
@font-face {
  font-family: "SEBANG_Gothic_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.font-sebang {
  font-family: "SEBANG_Gothic_Bold";
}
.font-Pret {
  font-family: "Pretendard-Regular";
}

/* 카테고리 */
.community {
  margin: 0 auto;
}

ul.tabs {
  margin: 10px;
  padding: 10px;
  list-style: none;
  text-align: center;
  font-size: 2.1rem;
}

ul.tabs li {
  border-radius: 5px;
  background: none;
  color: rgb(0, 0, 0);
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current {
  display: inline-block;
  background: rgba(3, 98, 128, 1);
  color: rgb(255, 255, 255);
}

ul.tabs li {
  border: 1px solid rgb(195, 194, 194);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

ul.tabs li:hover::before {
  width: 100%;
}

ul.tabs li::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
  width: 0%;
  height: 1px;
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}
ul.tabs li:hover::after {
  width: 100%;
}
ul.tabs li:hover {
  border: 1px solid #474748;
}

.tab-content {
  display: none;
  background: #ffffff;
  padding: 20px;
}

.tab-content.current {
  display: inherit;
  font-size: 2.1rem;
}

.tab-content.current #tab-1 .date {
  color: black;
  line-height: 3;
}

.tab-content.current #tab-2 .date {
  color: black;
  line-height: 3;
}

/* Q & A */

details summary::marker {
  font-size: 0;
}

.fa-brands {
  font-size: 1.8rem;
}

details {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 1em 1em 0;
  margin-bottom: 1rem;
}

summary {
  text-align: center;
  margin: -1.5em -1.5em 0;
  padding: 0.8em;
  cursor: pointer;
  line-height: 140%;
  font-size: 1.5rem;
}
details[open] {
  position: relative;
  font-weight: bold;
}
details[open] summary {
  position: relative;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 1px solid #aaa;
  background-color: rgba(3, 99, 128, 0.793);
  color: #fff;
  border-radius: 5px;
  line-height: 140%;
}

details p {
  font-weight: lighter;
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  line-height: 140%;
}

details summary:hover {
  border-radius: 5px;
  opacity: 1;
  background-color: rgba(75, 144, 241, 0.604);
  color: #000;
}

/* 고객의 소리 */

.wrap {
  width: 95%;
  margin: 0 auto;
}

.search-top {
  text-align: center;
}

.search-left {
  text-align: left;
  font-size: 1.5rem;
}

.board-list caption {
  padding: 20px;
}

.board-list {
  width: 100%;
  border-top: 1px solid rgb(138, 136, 136);
  border-collapse: collapse;
  font-size: 1.2rem;
}

.board-list th,
td {
  border-spacing: 0;
  border-bottom: 1px solid rgb(138, 136, 136);
  padding: 11px;
  text-align: center;
}

.board-list td.notic {
  background-color: rgb(236, 235, 235);
}

.board-list td.notic > a:hover {
  text-decoration: underline;
}

.bt-list {
  text-align: right;
}

.board-page {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.board-page a {
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border-left: 0;
  line-height: 32px;
}

.board-page a:hover {
  text-decoration: underline;
}

.board-page a.bt {
  font-size: 1.3rem;
  letter-spacing: -1px;
}

.board-page a.num {
  font-size: 1.4rem;
}

.board-page a.num.on {
  background-color: #000;
  color: #fff;
}

.search-right {
  margin: 5px;
  text-align: right;
  font-size: 9rem;
  box-sizing: border-box;
}

.search-left {
  text-align: left;
  margin: 15px;
}

.search-top {
  text-align: center;
}

/* 고객의 소리 아이콘 */
.fa-magnifying-glass {
  font-size: 1.2rem;
}
.fa-volume-off {
  font-size: 1.2rem;
}

.fa-lock {
  font-size: 1rem;
}

.fa-star-of-life {
  font-size: 0.8rem;
  text-align: center;
}

/* 게시판 버튼css */
.bt-wrap {
  margin-top: 20px;
  text-align: right;
  font-size: 0;
}

.bt-wrap a {
  display: inline-block;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid rgb(138, 136, 136);
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}

.bt-wrap a:hover {
  font-weight: bold;
  background-color: #000;
  color: #fff;
}

td.title:hover {
  text-decoration: underline;
}

.bt-wrap a.on {
  background: rgb(0, 0, 0);
  color: #fff;
}
