@import url(../reset.css);
@import url(../common.css);
@import url(../main.css);

section .con {
  margin: 0 auto;
}

/* 슬라이드 영역 */

.swiper {
  width: 100%;
  max-height: 700px;
  margin-top: 5px;
}

.swiper-wrapper {
  background: orange;
  width: 100%;
  height: 700px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide.slide1 {
  background: url(../Img/main-slider-img01.jpg);
  background-size: cover;
  background-position: center;
}
.swiper-slide.slide2 {
  background: url(../Img/main-slider-img02.jpg);
  background-size: cover;
  background-position: center;
}
.swiper-slide.slide3 {
  background: url(../Img/main-slider-img03.jpg);
  background-size: cover;
  background-position: center;
}

/* 배너영역 */

.banner-area {
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.banner-area::before {
  content: '';
  /* background-image: url(./indeximg/환자.jpg); */
  background-color: rgb(130, 168, 250);
  background-size: cover;
  width: 100%;
  /* opacity: 50%; */
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.banner-area .banner-left {
  padding-left: 50px;
  padding-right: 50px;
}

.banner-area .banner-left p {
  font-size: 40px;
  /* text-align: left; */
  display: flex;
  box-sizing: border-box;
  position: relative;
}

.banner-area .banner-right {
  padding-left: 50px;
  padding-right: 50px;
}

.banner-area .banner-right p {
  font-size: 20px;
  /* text-align: left; */
  margin: 1px auto 0;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 30px;
  box-sizing: border-box;
  position: relative;
}

/* 아이콘영역 */

.icon-area .img-box {
  height: 200px;
  /* background-color: rgb(108, 148, 255); */
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  font-size: 2.1rem;
  overflow: hidden;
}

.img-box .icon {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  display: block;
  font-size: 3rem;
  border-radius: 40%;
  background-color: rgb(122, 169, 222);
}

.icon:hover {
  /* margin: 10px;
  padding: 10px; */
  background-color: rgb(225, 239, 252);
  display: block;
  border-radius: 40%;
  overflow: hidden;
}

/* .img-box .icon a {} */

.img-box p {
  font-size: 1rem;
  padding: 10px;
  display: inline-block;
}

/* 예약 영역 */

.reservation-area {
  height: 360px;
  position: relative;
  text-align: center;
  font-size: 2em;
  overflow: hidden;
}
.reservation-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.reservation-box1 {
  width: 240px;
  height: 360px;
  background-image: url(../Img/back-reserv.jpg);
  background-size: cover;
  margin: 5px;
  position: relative;
}

.reservation-list1 p {
  content: '';
  background-color: rgb(165, 200, 248);
  line-height: 100%;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.reservation-box2 {
  width: 240px;
  height: 360px;
  background-image: url(../Img/back-conf-reserv.jpg);
  background-size: cover;
  margin: 5px;
  position: relative;
}

.reservation-list2 p {
  content: '';
  background-color: #b2f078;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.reservation-box3 {
  width: 240px;
  height: 360px;
  background-image: url(../Img/back-kakao.jpg);
  background-size: cover;
  margin: 5px;
  position: relative;
}

.reservation-list3 p {
  content: '';
  background-color: rgb(255, 255, 0);
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.reservation-box4 {
  width: 240px;
  height: 360px;
  background-image: url(../Img/back-print.jpg);
  background-size: cover;
  margin: 5px;
  position: relative;
}

.reservation-list4 p {
  content: '';
  background-color: #7ed9c9;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.opacity40 {
  opacity: 0.6;
}
