@charset "utf-8";

/* 초기화 */
.wrap {
  margin: 0 auto;
  padding: 0;
}

/* 중간 이미지 */
.second {
  height: 130px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  background-color: #d7eeff;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.second__con {
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  padding: 10px;
  margin: 0 auto;
}

.second .p1 {
  font-size: 30px;
  font-weight: bold;
}

.secpnd .p2 {
  font-size: 15px;
  font-weight: 300;
}

/* 탭 */
.container {
  height: 1150px;
  margin: 0 auto;
}

ul.tabs {
  margin: 10px;
  padding: 10px;
  list-style: none;
  text-align: center;
}

ul.tabs li {
  background: none;
  color: rgb(0, 0, 0);
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current {
  background: #d7eeff;
  color: rgb(0, 0, 0);
}

.tab-content {
  display: none;
  background: #d7eeff;
  padding: 20px;
  height: 1000px;
}

.tab-content.current {
  display: block;
}

/* 병원소개 */
.intro_box {
  height: 900px;
  padding: 10px;
  background-color: #fff;
  margin: 40px 30px;
  text-align: center;
}

.image_intro {
  height: 300px;
  padding: 15px;
}

.intro_box_con {
  text-align: left;
}

.intro_box_con strong {
  font-size: 30px;
  line-height: 1.5;
}

.intro_box_con p {
  font-size: 15px;
  line-height: 1.5;
}

.intro_last {
  text-align: right;
}

/* 진료안내 */
.teach_go {
  height: 300px;
  line-height: 1.5;
  padding: 20px;
  background-color: #fff;
  margin: 40px 30px;
}

.teach_go p {
  font-size: 30px;
  font-weight: 800;
}

.image_go {
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 30px;
}

.story_1 {
  padding: 20px;
  height: 300px;
}

.story_2 {
  padding: 20px;
  height: 300px;
  width: 450px;
  margin-left: 20px;
}

.teach_kwon {
  height: 300px;
  padding: 20px;
  line-height: 1.5;
  background-color: #fff;
  margin: 50px 30px;
}

.teach_kwon p {
  font-size: 30px;
  font-weight: 800;
}

.image_gwon {
  width: 300px;
  height: 300px;
  float: right;
}

.table_time {
  margin: 30px;
  background-color: #fff;
}

.time {
  margin: auto;
  padding: 20px;
  background-color: #fff;
  height: 80px;
  text-align: center;
}

.time th,
td {
  padding: 10px 20px;
  margin: 20px;
}

.text_head {
  color: black;
  font-size: 30px;
  text-align: center;
}

.text_foot {
  color: red;
  font-size: 20px;
  text-align: center;
}

/* 오시는길 */
div.map {
  width: 800px;
  margin: 0 auto;
  height: 1000px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
