@import url(reset.css);
@import url(common.css);
@import url(../lib/fontawesome-free-6.2.0-web/css/all.min.css);

/* main */
section .con {
   margin: 0 auto;
}

/* 슬라이드 영역 */
.swiper {
   max-width: 1440px;
   max-height: 700px;
   margin-top: 5px;
}
.swiper-wrapper {
   background: orange;
   width: 100%;
   height: 700px;
}
.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   /* height: 100%; */

   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
}
.swiper-slide.slide1 {
   background: url(./indeximg/main_visual_img01.jpg);
   background-size: cover;
   background-position: center;
}
.swiper-slide.slide2 {
   background: url(./indeximg/main_visual_img02.jpg);
   background-size: cover;
   background-position: center;
}
.swiper-slide.slide3 {
   background: url(./indeximg/main_visual_img03.jpg);
   background-size: cover;
   background-position: center;
}

/* 배너영역 */
.banner-area {
   height: 180px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   position: relative;
}
.banner-area::before {
   content: '';
   background-image: url(./indeximg/환자.jpg);
   background-size: cover;
   opacity: 50%;
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
}
.banner-area .banner-left h1 {
   font-size: 40px;
   /* text-align: left; */
   display: flex;
   box-sizing: border-box;
   position: relative;
}
.banner-area .banner-right p {
   font-size: 20px;
   /* text-align: left; */
   margin: 1px auto 0;
   display: flex;
   flex-direction: row-reverse;
   padding: 0 30px;
   box-sizing: border-box;
   position: relative;
}

/* 아이콘영역 */
.icon-area .img-box {
   height: 140px;
   background-color: rgb(108, 148, 255);
   display: flex;
   width: 100%;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   /* padding: 10px 30px; */
   position: relative;
   text-align: center;
   font-size: 2.1rem;
   overflow: hidden;
}
.img-box .icon {
   box-sizing: border-box;
   margin: 10px;
   display: block;
}

/* 예약 영역 */
.reservation-area {
   height: 360px;
   position: relative;
   text-align: center;
   font-size: 2em;
   overflow: hidden;
}
.reservation-area {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.reservation-box1 {
   width: 240px;
   height: 360px;
   background-image: url(./indeximg/예약.jpg);
   background-size: cover;
   margin: 5px;
   position: relative;
}
.reservation-list1 p {
   content: '';
   background-color: #ff9b8a;
   line-height: 100%;
   position: absolute;
   bottom: 10px;
   width: 100%;
}
.reservation-box2 {
   width: 240px;
   height: 360px;
   background-image: url(./indeximg/조회.jpg);
   background-size: cover;
   margin: 5px;
   position: relative;
}
.reservation-list2 p {
   content: '';
   background-color: #b2f078;
   position: absolute;
   bottom: 10px;
   width: 100%;
}
.reservation-box3 {
   width: 240px;
   height: 360px;
   background-image: url(./indeximg/카톡.jpg);
   background-size: cover;
   margin: 5px;
   position: relative;
}
.reservation-list3 p {
   content: '';
   background-color: yellow;
   position: absolute;
   bottom: 10px;
   width: 100%;
}
.reservation-box4 {
   width: 240px;
   height: 360px;
   background-image: url(./indeximg/인쇄.jpg);
   background-size: cover;
   margin: 5px;
   position: relative;
}
.reservation-list4 p {
   content: '';
   background-color: #7ed9c9;
   position: absolute;
   bottom: 10px;
   width: 100%;
}

/* intro */
.wrap {
   margin: 0 auto;
   padding: 0;
}

.second {
   height: 130px;
   margin: 0 auto;
   padding: 20px;
   display: flex;
   background-color: #d7eeff;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.second__con {
   text-align: center;
   line-height: 1.5;
   font-size: 20px;
   padding: 10px;
   margin: 0 auto;
}

.second .p1 {
   font-size: 30px;
   font-weight: bold;
}

.secpnd .p2 {
   font-size: 15px;
   font-weight: 300;
}
.container {
   height: 1150px;
   margin: 0 auto;
}

ul.tabs {
   margin: 10px;
   padding: 10px;
   list-style: none;
   text-align: center;
}

ul.tabs li {
   background: none;
   color: rgb(0, 0, 0);
   display: inline-block;
   padding: 10px 15px;
   cursor: pointer;
}

ul.tabs li.current {
   background: #d7eeff;
   color: rgb(0, 0, 0);
}

.tab-content {
   display: none;
   background: #d7eeff;
   padding: 20px;
   height: 1000px;
}

.tab-content.current {
   display: inherit;
}

.tab-content.current #tab-1 .date {
   color: black;
   line-height: 3;
}

.image_go {
   width: 200px;
   height: 200px;
}

div.map {
   margin: 0 auto;
   height: 1000px;
   display: flex;
   justify-content: center;
}

/* reserv */
/* 기본색상 4B91F1 로 진행 eva에서 10단계 색조사용 */
body::-webkit-scrollbar {
   width: 8px;
}
body::-webkit-scrollbar-thumb {
   height: 30%;
   background: rgba(75, 145, 241, 0.7);
   border-radius: 10px;
}
body::-webkit-scrollbar-track {
   background: rgba(75, 145, 241, 0.1);
}
main div.main > div {
   border-bottom: 1px solid gray;
   margin-top: 200px;
}
main div.main > div h2 {
   font-size: 2rem;
   padding: 10px 0;
}
main div.main > div p {
   margin-bottom: 20px;
}
main div.main > form {
   margin: 50px 0 100px 0;
}
main div.main > form table.reserv-input {
   border-collapse: collapse;
   margin: 0 auto;
   width: 95%;
}
main div.main > form table.reserv-input > caption {
   display: none;
}
main div.main > form table.reserv-input > tbody > tr {
   border-bottom: 1px solid rgba(14, 39, 115, 0.3);
}
main div.main > form table.reserv-input > tbody > tr > th {
   padding: 30px;
   text-align: center;
   letter-spacing: 2px;
   background-color: rgba(75, 145, 241, 0.4);
}
main div.main > form table.reserv-input > tbody > tr td {
   padding-left: 10px;
}
main div.main > form table.reserv-input > tbody > tr:nth-child(2) td {
   position: relative;
}
main div.main > form table.reserv-input > tbody > tr td span {
   position: absolute;
   bottom: 0;
   left: 10px;
   color: red;
   font-size: 0.8rem;
   display: none;
   padding: 5px 0;
}
main div.main > form table.reserv-input > tbody > tr td select {
   font-size: 18px;
   width: 100px;
   padding: 10px 5px;
   cursor: pointer;
   border: 1px solid #000;
   border-radius: 3px;
}
main div.main > form table.reserv-input > tbody > tr td select:last-of-type {
   margin-left: 20px;
}
main div.main > form table.reserv-input > tbody > tr td input[type='text'] {
   font-size: 18px;
   padding: 5px 10px;
   width: 150px;
   border: 1px solid #000;
   border-radius: 3px;
}
main div.main > form table.reserv-input > tbody tr:first-child td label {
   padding-left: 10px;
}
main div.main > form table.reserv-input > tbody tr:not(:first-child) td label {
   cursor: pointer;
}

main div.main > form table.reserv-input > tbody > tr:nth-child(4) td div {
   width: 30%;
   float: left;
   padding: 15px 5px;
}
main div.main > form table.reserv-input > tbody > tr:nth-child(4) td div::after {
   content: '';
   display: block;
   visibility: hidden;
   clear: both;
}
main div.main > form table.reserv-input > tbody > tr:nth-child(4) td div label {
   margin: 10px;
}

main div.main > form table.reserv-input > tbody > tr:last-of-type td table.doc-price {
   width: 80%;
   margin-left: 50px;
}
main div.main > form table.reserv-input > tbody > tr:last-of-type td table.doc-price > caption {
   font-size: 1.1rem;
   font-weight: bold;
   text-align: left;
   margin: 20px -30px;
}
main div.main > form table.reserv-input > tbody > tr:last-of-type td table.doc-price > tbody tr:not(:last-of-type) {
   border-bottom: 1px solid rgba(14, 39, 115, 0.3);
}
main div.main > form table.reserv-input > tbody > tr:last-of-type td table.doc-price > tbody tr th {
   text-align: left;
   padding: 5px;
}
main div.main > form table.reserv-input > tbody > tr:last-of-type td table.doc-price > tbody tr td {
   padding: 5px;
}

main div.main > form > div:nth-child(2) {
   text-align: center;
   margin: 30px 0;
}
main div.main > form > div:nth-child(2) button[type='submit'] {
   margin-left: 100px;
}

/* 확인페이지 팝업으로 */
main div.reserv-complete {
   max-width: 100vw;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.9);
   position: fixed;
   top: 0;
   left: 0;
   z-index: 6;
   display: none;
}
main div.reserv-complete div {
   display: flex;
   height: 100%;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
main div.reserv-complete div i {
   font-size: 20rem;
   color: #4b91f1;
}
main div.reserv-complete div p {
   font-size: 2.5rem;
   color: #fff;
   margin-top: 20px;
}
main div.reserv-complete div span {
   font-size: 2rem;
   color: #fff;
   margin-top: 10px;
}

/* 버튼 디자인 의논필요? */
.btn-01,
.btn-02 {
   border: none;
   padding: 20px 35px;
   font-weight: 900;
   font-size: 18px;
   letter-spacing: 3px;
   cursor: pointer;
   border-radius: 3px;
}
.btn-01 {
   background-color: rgba(75, 145, 241, 0.2);
}
.btn-02 {
   background-color: rgba(75, 145, 241, 0.7);
}

/* conf_reserv */
.section {
   padding-bottom: 622px;
   position: relative;
}
.section .section__title {
   width: 1000px;
   height: 80px;
   border: 1px solid #999999;
   border-top-style: none;
   border-left-style: none;
   border-right-style: none;
   position: absolute;
   top: 108px;
}
.section .section__tap {
   width: 1250px;
   height: 61px;
   position: absolute;
   top: 200px;
}
.section .section__tap-border-buttom {
   width: 365px;
   height: 62px;
   position: absolute;
   top: 195px;
   left: 640px;
   border-bottom: 1px solid black;
}
.section .section__login {
   width: 1000px;
   height: 200px;
   border: 1px solid black;
   position: absolute;
   top: 115px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.section__login .join {
   padding: 35px;
}

table th {
   text-align: left;
}
table th {
   padding: 0 7px;
}

.section__login .join input {
   padding: 7px 0;
   margin: 5px;
}

.section .section__appoint-delete {
   width: 900px;
   height: 280px;
   border: 1px solid black;
   position: absolute;
   top: 115px;
   left: 50px;
}
.section__title p:nth-of-type(1) {
   font-size: 30px;
   margin-left: 5px;
}
.section__title p:nth-of-type(2) {
   font-size: 13px;
   margin-top: 5px;
   margin-left: 5px;
}
ul {
   list-style: none;
}
.section__tap ul.control::after {
   display: block;
   visibility: hidden;
   clear: both;
   content: '';
}

div.section__tap ul.control li:nth-of-type(1) {
   text-align: center;
   float: left;
   width: 320px;
   padding: 20px 0;
   border: 1px solid black;
   border-bottom-style: none;
   border-right-style: none;
   box-sizing: border-box;
}
div.section__tap ul.control li:nth-of-type(2) {
   text-align: center;
   float: left;
   width: 320px;
   padding: 20px 0;
   border: 1px solid black;
   box-sizing: border-box;
}

ul.contents li {
   text-align: center;
   width: 100%;
   top: 0;
   left: 0;
   display: none;
}
ul.contents li.show {
   display: block;
}
.join .join__bt {
   padding: 29px 20px;
   border-radius: 6px;
   border: 1px solid black;
   position: absolute;
   margin-left: 5px;
   top: 60px;
}
.join .join__bt:hover {
   background-color: forestgreen;
   color: white;
}
#delete-bt {
   margin-top: 6px;
   padding: 6px 8px;
   border-radius: 5px;
   border: 1px solid black;
   display: inline-block;
   margin-left: 600px;
}
#appoint-delete__table {
   border-collapse: collapse;
   margin: 0 auto;
}
#appoint-delete__table tr th,
#appoint-delete__table tr td {
   text-align: center;
   padding: 10px 20px;
}
#appoint-delete__table tr th:nth-of-type(1),
#appoint-delete__table tr td:nth-of-type(1) {
   padding: 0 7px;
}
#appoint-delete__table tr th:nth-of-type(2),
#appoint-delete__table tr td:nth-of-type(2) {
   padding: 0 7px;
}

#appoint-delete__table tr {
   border-bottom: 1px solid #9999994f;
}

#appoint-delete__table th,
#appoint-delete__table td {
   border-left: 1px solid #9999994f;
   border-right: 1px solid #9999994f;
}
#appoint-delete__form {
   margin-top: 10px;
}
#delete-bt:hover {
   background-color: darkgreen;
   color: white;
}

/* board */
.container {
   height: 950px;
   margin: 0 auto;
}

ul.tabs {
   margin: 10px;
   padding: 10px;
   list-style: none;
   text-align: center;
}

ul.tabs li {
   background: none;
   color: rgb(0, 0, 0);
   display: inline-block;
   padding: 10px 15px;
   cursor: pointer;
}

ul.tabs li.current {
   background: #d7eeff;
   color: rgb(0, 0, 0);
}

.tab-content {
   display: none;
   background: #d7eeff;
   padding: 20px;
   height: 800px;
}

.tab-content.current {
   display: inherit;
}

.tab-content.current #tab-1 .date {
   color: black;
   line-height: 3;
}
