@import url(../reset.css);
@import url(../common.css);
@import url(../main.css);
@import url(./all.css);

section .con {
  margin: 0 auto;
}

/* 슬라이드 영역 */

.swiper {
  max-width: 1440px;
  max-height: 700px;
  margin-top: 5px;
}

.swiper-wrapper {
  background: orange;
  width: 100%;
  height: 700px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* height: 100%; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide.slide1 {
  background: url(./indeximg/main_visual_img01.jpg);
  background-size: cover;
  background-position: center;
}
.swiper-slide.slide2 {
  background: url(./indeximg/main_visual_img02.jpg);
  background-size: cover;
  background-position: center;
}
.swiper-slide.slide3 {
  background: url(./indeximg/main_visual_img03.jpg);
  background-size: cover;
  background-position: center;
}

/* 배너영역 */

.banner-area {
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.banner-area::before {
  content: '';
  background-image: url(./indeximg/환자.jpg);
  background-size: cover;
  opacity: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.banner-area .banner-left h1 {
  font-size: 40px;
  /* text-align: left; */
  display: flex;
  box-sizing: border-box;
  position: relative;
}

.banner-area .banner-right p {
  font-size: 20px;
  /* text-align: left; */
  margin: 1px auto 0;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 30px;
  box-sizing: border-box;
  position: relative;
}

/* 아이콘영역 */

.icon-area .img-box {
  height: 140px;
  background-color: rgb(108, 148, 255);
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 10px 30px; */
  position: relative;
  text-align: center;
  font-size: 2.1rem;
  overflow: hidden;
}

.img-box .icon {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  display: block;
  font-size: 3rem;
}

.img-box p {
  font-size: 1rem;
  padding: 10px;
}

/* 예약 영역 */

.reservation-area {
  height: 360px;
  position: relative;
  text-align: center;
  font-size: 2em;
  overflow: hidden;
}
.reservation-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.reservation-box1 {
  width: 240px;
  height: 360px;
  background-image: url(./indeximg/예약.jpg);
  background-size: cover;
  margin: 5px;
  position: relative;
}

.reservation-list1 p {
  content: '';
  background-color: #ff9b8a;
  line-height: 100%;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.reservation-box2 {
  width: 240px;
  height: 360px;
  background-image: url(./indeximg/조회.jpg);
  background-size: cover;
  margin: 5px;
  position: relative;
}

.reservation-list2 p {
  content: '';
  background-color: #b2f078;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.reservation-box3 {
  width: 240px;
  height: 360px;
  background-image: url(./indeximg/카톡.jpg);
  background-size: cover;
  margin: 5px;
  position: relative;
}

.reservation-list3 p {
  content: '';
  background-color: yellow;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.reservation-box4 {
  width: 240px;
  height: 360px;
  background-image: url(./indeximg/인쇄.jpg);
  background-size: cover;
  margin: 5px;
  position: relative;
}

.reservation-list4 p {
  content: '';
  background-color: #7ed9c9;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
